# Análise dados Osório 2019: Juntando os datasets

## Preparando o ambiente

In [1]:
import pandas as pd

## Carregando os dados

In [2]:
pv = pd.read_csv('https://raw.githubusercontent.com/SalatielBairros/dias-tipicos/main/data/pv_osorio_2019.csv', header=3)
wind = pd.read_csv('https://raw.githubusercontent.com/SalatielBairros/dias-tipicos/main/data/wind_osorio_2019.csv', header=3)

In [3]:
del wind['time']
wind['local_time'] = pd.to_datetime(wind['local_time'])
print(wind.dtypes)
wind.sample(5)

local_time     datetime64[ns]
electricity           float64
wind_speed            float64
dtype: object

              local_time  electricity  wind_speed
870  2019-02-06 04:00:00        0.002       1.565
5628 2019-08-23 09:00:00        0.035       3.186
8275 2019-12-11 17:00:00        0.072       4.009
7790 2019-11-21 12:00:00        0.002       1.504
7220 2019-10-28 17:00:00        0.002       1.460

In [4]:
del pv['time']
pv['local_time'] = pd.to_datetime(pv['local_time'])
print(pv.dtypes)
pv.sample(5)

local_time            datetime64[ns]
electricity                  float64
irradiance_direct            float64
irradiance_diffuse           float64
temperature                  float64
dtype: object

              local_time  electricity  ...  irradiance_diffuse  temperature
453  2019-01-19 19:00:00        0.031  ...               0.050       20.204
7869 2019-11-24 19:00:00        0.032  ...               0.050       18.818
4041 2019-06-18 06:00:00        0.000  ...               0.000       17.944
207  2019-01-09 13:00:00        0.421  ...               0.427       28.999
8354 2019-12-15 00:00:00        0.000  ...               0.000       21.870

[5 rows x 5 columns]

In [5]:
print(pv.shape)
print(wind.shape)

(8760, 5)
(8760, 3)

In [6]:
osorio = pv.copy(deep=True)

In [7]:
del osorio['electricity']

In [9]:
osorio['wind_speed'] = wind['wind_speed']
osorio.head(5)

           local_time  irradiance_direct  ...  temperature  wind_speed
0 2018-12-31 22:00:00                0.0  ...       24.202       2.675
1 2018-12-31 23:00:00                0.0  ...       23.979       2.743
2 2019-01-01 00:00:00                0.0  ...       23.806       2.834
3 2019-01-01 01:00:00                0.0  ...       23.679       2.874
4 2019-01-01 02:00:00                0.0  ...       23.633       2.931

[5 rows x 5 columns]

## Salvando os dados

In [11]:
osorio.to_csv('osorio_2019.csv')