In [1]:
import pandas as pd

In [2]:
pv = pd.read_csv('https://raw.githubusercontent.com/SalatielBairros/dias-tipicos/main/data/pv_osorio_2019.csv', header=3)[['local_time', 'electricity']]
wind = pd.read_csv('https://raw.githubusercontent.com/SalatielBairros/dias-tipicos/main/data/wind_osorio_2019.csv', header=3)[['local_time', 'electricity']]

In [3]:
pv['local_time'] = pd.to_datetime(pv['local_time'])
wind['local_time'] = pd.to_datetime(wind['local_time'])

In [4]:
data={
    'pv_electricity': pv['electricity'].values,
    'wind_electricity': wind['electricity'].values
}
df = pd.DataFrame(data=data,index = pv['local_time'])
df.head(5)

                     pv_electricity  wind_electricity
local_time
2018-12-31 22:00:00             0.0             0.020
2018-12-31 23:00:00             0.0             0.022
2019-01-01 00:00:00             0.0             0.024
2019-01-01 01:00:00             0.0             0.025
2019-01-01 02:00:00             0.0             0.027

In [7]:
el = df.between_time('06:00:00', '18:00:00')
el.reset_index(inplace=True)
el.head()

           local_time  pv_electricity  wind_electricity
0 2019-01-01 06:00:00           0.003             0.037
1 2019-01-01 07:00:00           0.065             0.059
2 2019-01-01 08:00:00           0.203             0.072
3 2019-01-01 09:00:00           0.353             0.074
4 2019-01-01 10:00:00           0.451             0.066

In [8]:
new_dates, new_times = zip(*[(d.date(), d.hour) for d in el['local_time']])
el = el.assign(new_date=new_dates, new_time=new_times)
del el['new_time']
el.rename(columns={'new_date': 'date'}, inplace=True)
del el['local_time']

el.head()

   pv_electricity  wind_electricity        date
0           0.003             0.037  2019-01-01
1           0.065             0.059  2019-01-01
2           0.203             0.072  2019-01-01
3           0.353             0.074  2019-01-01
4           0.451             0.066  2019-01-01

In [11]:
el = el.groupby('date').sum()

            pv_electricity  wind_electricity
date
2019-01-01           4.991             1.079
2019-01-02           5.349             0.296
2019-01-03           2.306             1.371
2019-01-04           5.436             0.280
2019-01-05           5.193             1.256

In [12]:
el.reset_index(inplace=True)
el.head()

         date  pv_electricity  wind_electricity
0  2019-01-01           4.991             1.079
1  2019-01-02           5.349             0.296
2  2019-01-03           2.306             1.371
3  2019-01-04           5.436             0.280
4  2019-01-05           5.193             1.256

In [13]:
el.shape

(365, 3)

In [14]:
el.to_csv('osorio_2019_electricity.csv')