In [ ]:
import pandas as pd

In [10]:
pv = pd.read_csv('https://raw.githubusercontent.com/SalatielBairros/dias-tipicos/main/data/pv_dia_osorio_2019_periodos.csv')
wind = pd.read_csv('https://raw.githubusercontent.com/SalatielBairros/dias-tipicos/main/data/wind_osorio_2019_periodos.csv')
el = pd.read_csv('https://raw.githubusercontent.com/SalatielBairros/dias-tipicos/main/data/osorio_2019_electricity.csv')

del pv['Unnamed: 0']
del wind['Unnamed: 0']
del el['Unnamed: 0']

In [ ]:
pv.head(5)

         data  idr_manha  idr_tarde  idf_manha  idf_tarde  tmp_manha  tmp_tarde
0  2019-01-01   0.172167   0.464000   0.165000   0.228833  25.703333  28.932833
1  2019-01-02   0.277833   0.568667   0.108667   0.176500  26.207667  31.356500
2  2019-01-03   0.004000   0.022833   0.131833   0.300333  26.989833  25.183833
3  2019-01-04   0.255500   0.547667   0.120333   0.187500  21.721000  24.702000
4  2019-01-05   0.223000   0.466500   0.134833   0.221167  21.689167  24.411333

In [ ]:
wind.head(5)

         data  el_madrugada  ws_madrugada  ...  ws_tarde  el_noite  ws_noite
0  2019-01-01      0.027500      2.950333  ...  4.356000  0.143000  5.071000
1  2019-01-02      0.113833      4.673667  ...  1.680000  0.017500  2.585000
2  2019-01-03      0.004500      1.820833  ...  5.549167  0.055667  3.567167
3  2019-01-04      0.036333      3.152333  ...  3.014500  0.021667  2.720167
4  2019-01-05      0.020500      2.695500  ...  4.981167  0.140500  5.035833

[5 rows x 9 columns]

In [11]:
el.head(5)

         date  pv_electricity  wind_electricity
0  2019-01-01           4.991             1.079
1  2019-01-02           5.349             0.296
2  2019-01-03           2.306             1.371
3  2019-01-04           5.436             0.280
4  2019-01-05           5.193             1.256

In [12]:
osorio = pv.copy(deep=True)
osorio['ws_manha'] = wind['ws_manha']
osorio['ws_tarde'] = wind['ws_tarde']
osorio['wind_electricity'] = el['wind_electricity']
osorio['pv_electricity'] = el['pv_electricity']

In [13]:
osorio.head()

         data  idr_manha  idr_tarde  ...  ws_tarde  wind_electricity  pv_electricity
0  2019-01-01   0.172167   0.464000  ...  4.356000             1.079           4.991
1  2019-01-02   0.277833   0.568667  ...  1.680000             0.296           5.349
2  2019-01-03   0.004000   0.022833  ...  5.549167             1.371           2.306
3  2019-01-04   0.255500   0.547667  ...  3.014500             0.280           5.436
4  2019-01-05   0.223000   0.466500  ...  4.981167             1.256           5.193

[5 rows x 11 columns]

In [14]:
osorio.shape

(365, 11)

In [15]:
osorio.to_csv('resumo_osorio_2019.csv')